@page "/massbidbyrarity"
@using FifaTrader.Models;
@using FifaTrader.Pages.Components;

<div class="content-body">
    <h2>Mass Bidder</h2>
    <p>Use this page to mass bid on rare or common players</p>
    <div class="input-outer">
        <div class="input-number">
            <p>Input the price you want to bid</p>
            <input type="number" step="50" @bind="bidPrice" />
        </div>
        <div class="input-number">
            <p>Select the league you want to buy from</p>
            <select name="leagueId" @onchange="LeagueSelection">
                <option value="0">Select a League</option>
                <option value="16">Ligue 1</option>
            </select>
        </div>
        <div class="input-number">
            <p>Select either rare or common</p>
            <select name="rarityId" @onchange="RaritySelection">
                <option value="0">Select a rarity</option>
                <option value="1">Rare</option>
                <option value="2">Common</option>
            </select>
        </div>
        <div class="input-number">
            <p>Select player position</p>
            <select name="positionId" @onchange="PositionSelection">
                <option value="0">Select a position</option>
                <option value="CB">CB</option>
            </select>
        </div>
    </div>

    <button class="btn btn-primary" @onclick="BidOnPlayers">Bid</button>
    <div>
        <input type="radio" value=true id="Allow" @onchange="RadioSelection" checked=@RadioValue />
        <label for="Allow">Allow API Calls</label>
        <input type="radio" value=false id="Block" @onchange="RadioSelection" checked=@(!RadioValue) />
        <label for="Block">Block API Calls</label>
    </div>
    <BidView Bids=@bids />
</div>

@code {
    public int leagueId { get; set; }
    public int rarityId { get; set; }
    public string positionSelection { get; set; }
    public int bidPrice { get; set; }
    public string token { get; set; }
    private bool RadioValue { get; set; } = true;
    private bool ExtendPlayerInfo { get; set; } = true;

    public List<BidViewModel> bids = new List<BidViewModel>();

    private async Task BidOnPlayers()
    {
        token = await ProtectedSessionStore.GetAsync<string>("accessToken");
        bids = await ApiGateway.FetchPlayersByLeague(leagueId, rarityId, bidPrice, token, positionSelection);

        for (var i = 0; i < bids.Count; i++)
        {
            if (RadioValue && bids[i].TimeRemaining < 3600 && bids[i].TimeRemaining > 0)
            {
                bids[i].Status = await ApiGateway.BidOnPlayer(bids[i].TradeId, bidPrice, token);

                bids[i].BidPrice = bidPrice;
                this.StateHasChanged();
                if (bids[i].Status != "Success")
                {
                    ErrorAllBids(i);
                    break;
                }
                await Task.Delay(1000);
            }
            else
            {
                ErrorAllBids(i);
                RadioValue = false;

            }
        }
    }

    private void ErrorAllBids(int index)
    {
        for (var i = index; i < bids.Count; i++)
        {
            bids[i].Status = "Error";
            bids[i].Pending = false;
            bids[i].TimeRemaining = 0;
        }
    }

    void RadioSelection(ChangeEventArgs args)
    {
        RadioValue = args.Value.ToString() == "true";
        this.StateHasChanged();
    }

    void CheckBoxSelection()
    {
        ExtendPlayerInfo = !ExtendPlayerInfo;
        this.StateHasChanged();
    }

    void LeagueSelection(ChangeEventArgs args)
    {
        leagueId = int.Parse(args.Value.ToString());
        this.StateHasChanged();
    }

    void RaritySelection(ChangeEventArgs args)
    {
        rarityId = int.Parse(args.Value.ToString());
        this.StateHasChanged();
    }

    void PositionSelection(ChangeEventArgs args)
    {
        positionSelection = args.Value.ToString();
        this.StateHasChanged();
    }
}
