@page "/transfers"
@using FifaTrader.Models;
@using FifaTrader.Pages.Components;

<div class="content-body">
    <h2>Transfer List</h2>
    <p>Use this page to manage the players you are selling</p>
    <div class="input-outer">
        <div class="input-number">
            <p>Input the starting price of players you want to sell</p>
            <input type="number" @bind="startPrice" />
        </div>
        <div class="input-number">
            <p>Input the BIN price of player you want to sell</p>
            <input type="number" @bind="binPrice" />
        </div>
    </div>
    <div class="button--layer">
        @*<button class="btn btn-primary" @onclick="SellPlayers">Sell Non-listed Players</button>*@
        <button class="btn btn-primary" @onclick="FetchTransferList">Refresh Players</button>
    </div>

    <div class="targets-view">
        <TargetsCount Bids=@transferList.AuctionInfo CoinCount=@transferList.Credits TotalTargetsCount="transferList.Total" />
        <BidView Bids=@transferList.AuctionInfo FullScreen="Partial" />
    </div>

</div>

@code {
    public int startPrice { get; set; }
    public int binPrice { get; set; }
    public string token { get; set; }

    public auctionSearchModel transferList = new auctionSearchModel
        {
            AuctionInfo = new List<BidViewModel>()
        };

    private async void FetchTransferList()
    {
        token = await ProtectedSessionStore.GetAsync<string>("accessToken");
        transferList = await ApiGateway.GetTransferList(token);

        this.StateHasChanged();
    }
}
