@page "/Unassigned"
@using FifaTrader.Models;
@using FifaTrader.Pages.Components;
@using System.Threading;

<div class="content-body">
    <h2>Transfer Targets</h2>
    <p>Use this page to manage the players you have bid on</p>
    <div class="input-outer">
        <div class="input-number">
            <p>Input the starting price of players you want to sell</p>
            <input type="number" step="50" @bind="startPrice" />
            <div class="increment-options">
                    <button class="btn btn-primary" @onclick="e => this.IncrementStartPrice(50)">+50</button>
                    <button class="btn btn-primary" @onclick="e => this.IncrementStartPrice(100)">+100</button>
                    <button class="btn btn-primary" @onclick="e => this.IncrementStartPrice(1000)">+1000</button>
            </div>
        </div>
        <div class="input-number">
            <p>Input the BIN price of player you want to sell</p>
            <input type="number" step="50" @bind="binPrice" />
            <div class="increment-options">
                    <button class="btn btn-primary" @onclick="e => this.IncrementBinPrice(50)">+50</button>
                    <button class="btn btn-primary" @onclick="e => this.IncrementBinPrice(100)">+100</button>
                    <button class="btn btn-primary" @onclick="e => this.IncrementBinPrice(1000)">+1000</button>
            </div>
        </div>
    </div>
    <div class="button--layer">
        <button class="btn btn-primary" @onclick="SellPlayers">Sell Players</button>
        <button class="btn btn-primary" @onclick="RefreshPlayers">Refresh Players</button>
        <button class="btn btn-primary" @onclick="ClearExpiredPlayers">Clear Expired Players</button>
    </div>
    <TargetsCount Bids=@players.AuctionInfo CoinCount=@players.Credits TotalTargetsCount="players.Total"/>
    <div>
        <input type="radio" value=true id="Allow" @onchange="RadioSelection" checked=@RadioValue />
        <label for="Allow">Allow API Calls</label>
        <input type="radio" value=false id="Block" @onchange="RadioSelection" checked=@(!RadioValue) />
        <label for="Block">Block API Calls</label>
    </div>
    <BidView Bids=@players.AuctionInfo />
</div>

@code {
    public int startPrice { get; set; }
    public int binPrice { get; set; }
    public string token { get; set; }
    private bool RadioValue { get; set; } = true;

    public auctionSearchModel players = new auctionSearchModel()
    {
        AuctionInfo = new List<BidViewModel>()
    };

    private async Task SellPlayers()
    {
        token = await ProtectedSessionStore.GetAsync<string>("accessToken");

        foreach (var player in players.AuctionInfo)
        {
            if (RadioValue && player.Pending == false && player.Status == "highest")
            {
                player.Status = await ApiGateway.SellPlayer(player.TradeId, player.ItemData.playerId, token, startPrice, binPrice);
                this.StateHasChanged();
                if (player.Status != "Selling")
                {
                    break;
                }
                await Task.Delay(1000);
            }
        }
    }

    private async Task ClearExpiredPlayers()
    {
        var token = await ProtectedSessionStore.GetAsync<string>("accessToken");
        await ApiGateway.ClearExpiredPlayers(token, players.AuctionInfo);
        await RefreshPlayers();
    }

    private async Task RefreshPlayers()
    {
        await UpdateTransferTargets();
        this.StateHasChanged();
    }

    protected override void OnInitialized()
    {
        var timer = new Timer(new TimerCallback(async _ =>
        {
            if (players.AuctionInfo.Count != 0)
            {
                if (players.AuctionInfo.Max(x => x.TimeRemaining != -1))
                {
                    await UpdateTransferTargets();
                    await InvokeAsync(() =>
                    {
                        StateHasChanged();
                    });
                }
            }
        }), null, 1000, 10000);
    }

    protected async Task UpdateTransferTargets()
    {
        token = await ProtectedSessionStore.GetAsync<string>("accessToken");

        players = await ApiGateway.GetUnassignedPile(token);
    }

    void RadioSelection(ChangeEventArgs args)
    {
        RadioValue = args.Value.ToString() == "true";
        this.StateHasChanged();
    }

    void IncrementStartPrice(int increase)
    {
        startPrice += increase;
    }

    void IncrementBinPrice(int increase)
    {
        binPrice += increase;
    }
}
