<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FifaTrader</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/massbid" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Buy Players By ID
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/massbidbyrarity" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Buy Players By Rarity
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/targets" Match="NavLinkMatch.All">
                <span class="oi oi-target" aria-hidden="true"></span> Transfer Targets
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/transfers" Match="NavLinkMatch.All">
                <span class="oi oi-british-pound" aria-hidden="true"></span> Transfer List
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/unassigned" Match="NavLinkMatch.All">
                <span class="oi oi-british-pound" aria-hidden="true"></span> Unassigned Pile
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
